body {
  background-color: darkcyan;
}
body a {
  color: white;
  font-size: xx-large;
  text-decoration: none;
  margin: 50px;
  padding-left: 150px;
}
body h1 {
  padding: 50px;
  margin-left: 350px;
}
#task-5 {
  margin-top: 30px;
}
#task-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media only screen and (max-width: 650px) {
  body h1 {
    margin: 0 auto;
  }
  body a {
    margin: 0 auto;
    padding-left: 130px;
  }
  #task-5 {
    margin: 0 auto;
  }
}
