body {
  background-color: rgb(73, 135, 128);
}
body h1 {
  color: rgb(112, 23, 104);
  align-content: center;
  padding: 80px;
  padding-left: 400px;
  text-decoration: underline;
  font-style: italic;
}
#main-container {
  padding-left: 350px;
  font-size: xx-large;
  height: 50%;
}
#main-container a {
  color: rgb(239, 235, 235);
  display: inline;
  text-decoration: none;
}
#main-container div {
  display: inline;
  padding-right: 100px;
}
